<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealEstate-chat</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/jQuery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chat-app.css">
</head>

<body>
    <!-- header section -->
    <header class="container-fluid header-section">
        <!-- top header -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <!-- left content -->
                    <div class="col-lg-6 header-top-left">
                        <div class="top-info">
                            <i class="fa fa-phone"></i>
                            (+91) 7767824255
                        </div>
                        <div class="top-info">
                            <i class="fa fa-envelope"></i>
                            siddharthsingh88505@gmail.com
                        </div>
                    </div>
                    <!-- right content -->
                    <div class="col-lg-6 text-lg-right header-top-right">
                        <div class="top-social">
                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-pinterest"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <% if(verified) { %>
                            <% if(userType==="Agent" && !isAdmin ) { %>
                                <div class="user-panel">
                                    <a href="/logout"><i class="fa fa-sign-in"></i> &nbsp;Logout</a>
                                </div>
                                <% } else if(isAdmin) { %>
                                    <% if(verified) { %>
                                        <div class="user-panel">
                                            <a href="/logout"><i class="fa fa-sign-in"></i> &nbsp;Logout</a>
                                        </div>
                                        <% } else { %>
                                            <div class="user-panel">
                                                <a href="/login"><i class="fa fa-sign-in"></i> &nbsp;Login</a>
                                            </div>
                                            <% } %>
                                                <% } else { %>
                                                    <div class="user-panel">
                                                        <a href="/register-as-agent"><i class="fa fa-sign-in"></i>
                                                            &nbsp;Register as
                                                            Agent</a>
                                                        <a href="/logout"><i class="fa fa-sign-in"></i> &nbsp;Logout</a>
                                                    </div>
                                                    <% } %>
                                                        <% } else { %>
                                                            <div class="user-panel">
                                                                <a href="/register"><i
                                                                        class="fa-regular fa-user"></i>&nbsp;Register</a>
                                                                <a href="/login"><i class="fa fa-sign-in"></i>
                                                                    &nbsp;Login</a>
                                                            </div>
                                                            <% } %>

                    </div>
                </div>
            </div>
        </div>
        <!-- main header -->
        <div class="container">
            <div class="main-header row">
                <div class="col-12">
                    <div class="site-navbar">
                        <a href="/" class="site-logo">REAL<span class="estate">ESTATE</span></a>
                        <!-- hamburger menu -->
                        <div class="nav-switch">
                            <i class="fa fa-bars"></i>
                        </div>
                        <!-- main menu -->
                        <ul class="main-menu">
                            <li><a href="/">HOME</a></li>
                            <% if(verified && (userType==="Agent" ) && !isAdmin) { %>
                                <li><a href="/upload-property">UPLOAD PROPERTY</a></li>
                                <% } %>
                                    <% if(verified && isAdmin) { %>
                                        <li><a href="/admin/dashboard">DASHBOARD</a></li>
                                        <% } %>
                                            <li><a href="/featured">FEATURED LISTING</a></li>
                                            <li><a href="/about">ABOUT US</a></li>
                                            <li><a href="/contact">CONTACT</a></li>
                                            <% if(verified && !isAdmin) {%>
                                                <li><a href="/chat">Chat</a></li>
                                                <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="togglebars container">
            <ul class="toggle-menu">
                <li><a href="/">HOME</a></li>
                <% if(verified && (userType==="Agent" ) && !isAdmin) { %>
                    <li><a href="/upload-property">UPLOAD PROPERTY</a></li>
                    <% } %>
                        <% if(verified && isAdmin) { %>
                            <li><a href="/admin/dashboard">DASHBOARD</a></li>
                            <% } %>
                                <li><a href="/featured">FEATURED LISTING</a></li>
                                <li><a href="/about">ABOUT US</a></li>
                                <li><a href="/contact">CONTACT</a></li>
                                <% if(verified && !isAdmin) {%>
                                    <li><a href="/chat">Chat</a></li>
                                    <% } %>
            </ul>
        </div>
    </header>

    <!-- chat section -->
    <div class="container-fluid chat-section spad">
        <div class="container">
            <div class="row content-area">
                <div class="users col-4 col-sm-3 col-md-3">
                    <% if(users) { %>
                        <% users.forEach(doc=> { %>
                            <li class="user" id="<%=doc.id %>">
                                <i class="fa-solid fa-user"></i>&nbsp;
                                <%=doc.name %>
                            </li>
                            <% }) %>
                                <% } else { %>
                                    <p class="no-user">NO USER FOUND</p>
                                    <% } %>
                                        <!-- <li class="user" id="ssssssss">Manoj1</li>
                                        <li class="user">Manoj2</li>
                                        <li class="user">Manoj3</li>
                                        <li class="user">Manoj4</li>
                                        <li class="user">Manoj5</li> -->
                </div>
                <div class="chat-wrapper col-8 col-sm-9 col-md-9" id="chat-wrapper">
                    <div class="blank-chat">
                        This is chat section <br>
                        Click on USER to chat
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer section -->
    <footer class="container-fluid footer-section">
        <div class="hidden-element" hidden>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-widget">
                    <a href="/" class="site-logo">REAL<span class="estate">ESTATE</span></a>
                    <p>This project is developed to buy and rent the property as well as know the rates of
                        different
                        property. </p>
                    <div class="social">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-pinterest"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-widget">
                    <div class="contact-widget">
                        <h5 class="fw-title">CONTACT US</h5>
                        <p><i class="fa fa-map-marker"></i>401-209 Nallasopara,Maharashtra. </p>
                        <p><i class="fa fa-phone"></i>(+91) 7767824255</p>
                        <p><i class="fa fa-envelope"></i>siddharthsingh88505@gmail.com</p>
                        <p><i class="fa fa-clock-o"></i>Mon - Sat, 10:00 AM - 06:00 PM</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 footer-widget">
                    <div class="double-menu-widget">
                        <h5 class="fw-title">POPULAR PLACES</h5>
                        <ul>
                            <li><a href="">Florida</a></li>
                            <li><a href="">New York</a></li>
                            <li><a href="">Washington</a></li>
                            <li><a href="">Los Angeles</a></li>
                            <li><a href="">Chicago</a></li>
                        </ul>
                        <ul>
                            <li><a href="">St Louis</a></li>
                            <li><a href="">Jacksonville</a></li>
                            <li><a href="">San Jose</a></li>
                            <li><a href="">San Diego</a></li>
                            <li><a href="">Houston</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-nav">
                    <!-- footer nav links -->
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/featured">Featured Listing</a></li>
                        <li><a href="/about">About us</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Custom JavaScript -->
    <script src="/js/index.js"></script>
    <script src="/js/chat-app.js"></script>
</body>

</html>